{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Astronomy Picture of the Day</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mars_weather_forecast/css/style.css' %}" />
    </head>

    <body>
        <center><h1>{{date}}の天文写真</h1>
        <br>
        <div id="media-container"></div>
        <p>{{title}}</p>
        <p>Explanation : {{explanation}}</p>
        <small>copyright&copy; <a href="https://apod.nasa.gov/apod/astropix.html">NASA</a></small>
        </center>

    <script>
        var media_type = "{{media_type}}";
        var url = "{{url}}";
        
        var media_container = document.getElementById('media-container');
        if(media_type == 'image'){
			media_container.innerHTML = '<p><img src="' + url + '" alt="Astronomy Picture"></p>';
		}else{
            media_container.innerHTML = '<iframe width="560" height="315" src="' + url + '?loop=1&autoplay=1&mute=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>';
        }
    </script>

    </body>
</html>